@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	flex: 1;
	color: var(--dropdownText);
	background-color: var(--mainColor);
	padding: 0.5rem 0;
	width: 100%;
	@include noSelection;
	.footer__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		.footer__left {
			margin-right: auto;
		}
		.footer__right {
			margin-left: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			& > a {
				text-decoration: none;
				color: var(--dropdownText);
				cursor: pointer;
				&:hover {
					color: var(--hoverBtn);
				}
				& > p {
				}
			}
		}
	}
}

@media (max-width: 990px) {
	.footer {
		position: relative;
	}
}
