@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.table {
	margin-top: 20px;
	overflow: scroll;
	height: 400px;
	color: #1a1a1a;
	@include noSelection;
	&::-webkit-scrollbar {
		width: 15px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--mainColor);
		border-radius: 25px;
		&:hover {
			background: rgba(148, 12, 37, 0.95);
		}
	}
	&::-webkit-scrollbar-corner {
		background-color: var(--bg);
	}
	& > div {
		display: flex;
		justify-content: space-between;
		&:nth-of-type(even) {
			background-color: rgba(255, 255, 255, 0.75);
		}
		&:nth-of-type(odd) {
			background-color: rgba(252, 188, 188, 0.75);
		}
		& > div {
			padding: 0.5rem;
			border: transparent;
			font-weight: 700;
		}
	}
}
