* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	.app__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 3em;
		cursor: pointer;
		.app__link {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
			font-size: 24px;
			color: var(--mainColor);
			text-decoration: none;
			&:hover {
				color: var(--dropdownText);
			}
		}
	}
}


